
  <form action="/post/create-post" method="POST">

    <label for="content">Your text here</label>
    <textarea name="content" id="content" cols="30" rows="10" placeholder="enter content"></textarea>

    <label for="picPath">Pic link</label>
    <input type="text" name="picPath" id="picPath">

    <label for="picName">Pic name</label>
    <input type="text" name="picName" id="picName">

    <button type="submit">Post It!</button> 
  </form>
