
   
<form action="/edit" method="POST" enctype="multipart/form-data" >

    <label for="imgUrl">Upload your new avatar</label>
    <input type="file" name="imgUrl">
    <button type="sumbit">Upload file</button>

</form>